# Establishing Connections

In [1]:
import pandas as pd
from io import StringIO
from bs4 import BeautifulSoup
import requests

# Connecting to Wikipedia

In [3]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source, 'lxml')
table_content = soup.find('table').text

# Collecting Assignments

In [6]:
table_list = table_content.split('\n')

table_list = list(filter(None, table_list))
print(table_list[:20])
labels = ['PostalCode', 'Borough', 'Neighborhood']
records = table_list[3:]

['Postcode', 'Borough', 'Neighbourhood', 'M1A', 'Not assigned', 'Not assigned', 'M2A', 'Not assigned', 'Not assigned', 'M3A', 'North York', 'Parkwoods', 'M4A', 'North York', 'Victoria Village', 'M5A', 'Downtown Toronto', 'Harbourfront', 'M5A', 'Downtown Toronto']

In [7]:
column1 = []
for i in range(0,len(records)):
        if i%3 == 0:
            column1.append(records[i])

column2 = []
for i in range(0,len(records)):
        if (i-1)%3 == 0:
            column2.append(records[i])

column3 = []
for i in range(0,len(records)):
        if (i-2)%3 == 0:
            column3.append(records[i])

records_arranged = list(zip(column1, column2, column3))
records_arranged[:3]

[('M1A', 'Not assigned', 'Not assigned'),
 ('M2A', 'Not assigned', 'Not assigned'),
 ('M3A', 'North York', 'Parkwoods')]

# Acessing Data Frames

In [12]:
df = pd.DataFrame.from_records(records_arranged, columns=labels)
df = df[df["Borough"] != "Not assigned"]
df.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M5A  Downtown Toronto       Regent Park
6        M6A        North York  Lawrence Heights

In [13]:
customjoin = lambda a: ", ".join(a) 
onereturn= lambda a: ",".join(a).rsplit(",")[0]
df_final = df.groupby('PostalCode').agg({'Borough': onereturn, 'Neighborhood': customjoin})

df_final.head(4)

                Borough                            Neighborhood
PostalCode
M1B         Scarborough                          Rouge, Malvern
M1C         Scarborough  Highland Creek, Rouge Hill, Port Union
M1E         Scarborough       Guildwood, Morningside, West Hill
M1G         Scarborough                                  Woburn

In [14]:
df_final=df_final.reindex(columns=['Borough', 'Neighborhood'])
df_final = df_final.reset_index()
df_final.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

# Gaining access to the Geospatial data

In [15]:
!wget -O geospatial.csv https://cocl.us/Geospatial_data

--2018-12-24 21:56:31--  https://cocl.us/Geospatial_data
Resolving cocl.us (cocl.us)... 169.48.113.201
Connecting to cocl.us (cocl.us)|169.48.113.201|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2018-12-24 21:56:34--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.26.197
Connecting to ibm.box.com (ibm.box.com)|107.152.26.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2018-12-24 21:56:35--  https://ibm.ent.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.26.211
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.26.211|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!03RSSaxX3TJJqfZYnuT065y6wZxnFjQ-4PZt9yhJM1RYcYQmmyKI1-iq5AMo6zlSNpvWihOsdMzo5z9ydZavl5zBfrZ6FgrUeIixC3ViVJjm8Ui-0X8U83GJQQxofozUFAIfh_gP0Ld4IYLMC1PWeUnoZObFj6DHc5RkkTbWOIE1G6smdH5wiwMprhXAv79zQasOgBs_JDX-Nf-HC-_am4UJBieFVF7STmyiaE_XA7gJfnVfkbd3f9JiuJHrQJ8ja-2UzMniws4q2EFbdIEUO26Dk-yYdGiNOL353PTr5LyGogoi0WbkWHLJDktIpRfXACYRzVvcNQYCDqI-KQswvgxjS-9LQtPjm9bkXqy7OAyl6oEF8S0MQYDR2xV4zCriGBtLkzPGx9hH3i6nfKw9CRa24wsykRVL0GOm-gtr6lJxcAOWx7abBAOObVtBU6x7PCKEZvX_Fvsw68JYZ4jqC_u8v0q87oR98MoBr7_rKZbq0EqxT5xd5bpxm-_gbFy53o-9R4Gdn86f756hKGo0SyOzurV_znrWpW91I5LHHH_wo841kvPOQeYgZWfmYX3Ff0g-DMCAQjYZTJAKUzKY7okBcQ3R3MHS1TPoKWP6RJzlyrsjNwyUhXUsI1FqOIGKJp25btLIPQtKRU7KlGZD3mVXEtGGDH6XnJsZchVxLWdXJ93MM6r0yKVZWuH4oEZK4fwXBiki8p59KPHXlSd5H9Pe67j6F_Xjb5q6c9wiAKbCj_ZRQJMHVlSP3uu3V8-6Q8ZvA7-juQvShKMHB1cuql6DbHdrYN0jNjZKElf0_yRHJ5l_Q-90ELd2BdmkT-CEZwUxNgAQcZXj-vo9XI29M98CoWILfkK534tTh2ESXTLJ13HevT-VeVGbSPjUHVzQfUy9kTRfclDqxJZqFWhbGyrraNK1Mt0Wup95DGu7j9LHUVyHNvfZSvVqjuZdd1M8r2hY4RuLR8qQThAdo4nE_oFDkuA_qB-qs_nOi2qmBUXrefhAeuaGvhbThuVMPz4HnqN_fsu7IaLHPxlj6VYaiIQ5gDltwB_g_2qbfkYRk29VVJUogT61RNkuQ8KvTdcec_2YsJxS2EEYIlaOtNgFVY3HcxZBhJv-3lb_w6WA1rIaPtehTkG6ZlsII2n-4U0fFh25BXwqIctoM4xRdSBrLY9kU2VYsHXjj7AKl4xwwNd5XS91mYYHVB5W2Kg3lj-wLSleQMvfHIoFOrV_-Z-4NxRJgeiPRon6RtYt3qO682QnbwTwTxSEjwOEEZuVe1er-61LN3yB7ISdlmaoGIcEmcnSDpByClMP_qRoDbYXOjs3swM-alvrsId2eC5go-m_7CYRRrvFndO3JfSMd1rGO3N_6TLKKdy0j6kD7NsFrFbwmqLd/download [following]
--2018-12-24 21:56:35--  https://public.boxcloud.com/d/1/b1!03RSSaxX3TJJqfZYnuT065y6wZxnFjQ-4PZt9yhJM1RYcYQmmyKI1-iq5AMo6zlSNpvWihOsdMzo5z9ydZavl5zBfrZ6FgrUeIixC3ViVJjm8Ui-0X8U83GJQQxofozUFAIfh_gP0Ld4IYLMC1PWeUnoZObFj6DHc5RkkTbWOIE1G6smdH5wiwMprhXAv79zQasOgBs_JDX-Nf-HC-_am4UJBieFVF7STmyiaE_XA7gJfnVfkbd3f9JiuJHrQJ8ja-2UzMniws4q2EFbdIEUO26Dk-yYdGiNOL353PTr5LyGogoi0WbkWHLJDktIpRfXACYRzVvcNQYCDqI-KQswvgxjS-9LQtPjm9bkXqy7OAyl6oEF8S0MQYDR2xV4zCriGBtLkzPGx9hH3i6nfKw9CRa24wsykRVL0GOm-gtr6lJxcAOWx7abBAOObVtBU6x7PCKEZvX_Fvsw68JYZ4jqC_u8v0q87oR98MoBr7_rKZbq0EqxT5xd5bpxm-_gbFy53o-9R4Gdn86f756hKGo0SyOzurV_znrWpW91I5LHHH_wo841kvPOQeYgZWfmYX3Ff0g-DMCAQjYZTJAKUzKY7okBcQ3R3MHS1TPoKWP6RJzlyrsjNwyUhXUsI1FqOIGKJp25btLIPQtKRU7KlGZD3mVXEtGGDH6XnJsZchVxLWdXJ93MM6r0yKVZWuH4oEZK4fwXBiki8p59KPHXlSd5H9Pe67j6F_Xjb5q6c9wiAKbCj_ZRQJMHVlSP3uu3V8-6Q8ZvA7-juQvShKMHB1cuql6DbHdrYN0jNjZKElf0_yRHJ5l_Q-90ELd2BdmkT-CEZwUxNgAQcZXj-vo9XI29M98CoWILfkK534tTh2ESXTLJ13HevT-VeVGbSPjUHVzQfUy9kTRfclDqxJZqFWhbGyrraNK1Mt0Wup95DGu7j9LHUVyHNvfZSvVqjuZdd1M8r2hY4RuLR8qQThAdo4nE_oFDkuA_qB-qs_nOi2qmBUXrefhAeuaGvhbThuVMPz4HnqN_fsu7IaLHPxlj6VYaiIQ5gDltwB_g_2qbfkYRk29VVJUogT61RNkuQ8KvTdcec_2YsJxS2EEYIlaOtNgFVY3HcxZBhJv-3lb_w6WA1rIaPtehTkG6ZlsII2n-4U0fFh25BXwqIctoM4xRdSBrLY9kU2VYsHXjj7AKl4xwwNd5XS91mYYHVB5W2Kg3lj-wLSleQMvfHIoFOrV_-Z-4NxRJgeiPRon6RtYt3qO682QnbwTwTxSEjwOEEZuVe1er-61LN3yB7ISdlmaoGIcEmcnSDpByClMP_qRoDbYXOjs3swM-alvrsId2eC5go-m_7CYRRrvFndO3JfSMd1rGO3N_6TLKKdy0j6kD7NsFrFbwmqLd/download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.24.200, 107.152.25.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.24.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2.8K) [text/csv]
Saving to: ‘geospatial.csv’

geospatial.csv      100%[=====================>]   2.82K  --.-KB/s   in 0s

2018-12-24 21:56:36 (41.1 MB/s) - ‘geospatial.csv’ saved [2891/2891]

# Creating geofd

In [17]:
geodf = pd.read_csv('geospatial.csv')

# Creating data frames with geofd

In [19]:
geodf.rename(index=str, columns={"Postal Code": "PostalCode"}, inplace=True)
geodf.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [ ]:
!conda install -c conda-forge folium=0.5.0 --yes 
import folium
from geopy.geocoders import Nominatim
address = 'Toronto'

geolocator = Nominatim()
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude

In [ ]:
map_toronto = folium.Map(location=[latitude, longitude], zoom_start=10)

# add markers to map
for lat, lng, borough, neighborhood in zip(df['Latitude'], df['Longitude'], df['Borough'], df['Neighborhood']):
    label = '{}, {}'.format(neighborhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_toronto)